<?xml version="1.0" encoding="utf-8"?>
<!--
    SPDX-FileCopyrightText: none
    SPDX-License-Identifier: CC0-1.0
    SPDX-FileType: SOURCE
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application android:hasCode="false" />
    <overlay android:isStatic="true" android:priority="90" android:targetPackage="android" tools:ignore="UnusedAttribute" />
</manifest>
